.userCard {
  height: 160px;
  width: 400px;
  font-size: 62.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px gray;
}

.gitImage {
  height: 120px;
  border-radius: 4px;
}

.follow {
  display: flex;
  justify-content: space-around;
}
